{% extends "menu/root_menu.html" %}
{% block content %}
   <h1 class="text-center">Menu</h1>
   <div class="container-fluid">
   	<div class="row">
   		<div class="col-md-12 card offset-1">
   			<div class="row background-basic justify-content-space-between">
   				<div class="col-md-5">
   					<div class="card">
   						<div class="card-header">
   							<div class="text-center">Burger</div>
   							</div>
   						<div class="card-body">
   							<ul class="list-group">
   								<li class="list-group-item d-flex justify-content-between align-items-center">
   									burger
   								<span class="badge badge-primary badge-pill">
   									12
   								</span>
   								</li>	
   							</ul>
   						</div>
   					</div>
   				</div>
   				<div class="col-md-5 ">
   					<div class="card">
   						<div class="card-header">
   							
   							</div>
   						<div class="card-body">
   						
   						</div>
   					</div>
   				</div>
   			</div>
   		</div>
   	</div>
   </div>
{% endblock %}