{% extends "menu/root_menu.html" %}
{% block content %}
{% load static %}


<div class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <div class="card">
          <div class="card-header text-center">
             Menu
          </div>
          <div class="row">
          <div class="card-body">
             <div class="col-md-12 d-flex flex-column">
            <div class="card text-center">
               <div class="card-header">
                  Burger
               </div>
                <div><a href="{% url 'menu_burger' %}"><img src="{% static 'menu/burger_menu.png' %}" class="img-fit img-responsive" ></div>
             </div>
             <div class="card mt-4 text-center">
               <div class="card-header">
                  Dessert
               </div>
                <div><img src="{% static 'menu/desert_menu.png' %}" class="img-fit img-responsive" ></div>
                
             </div>
             <div class="card mt-4 text-center  ">
               <div class="card-header">
                  Drink
               </div>
                <div><img src="{% static 'menu/drink_menu.jpeg' %}" class="img-fit img-responsive" ></div>
                
             </div>
             </div>
          </div>
       </div>
         </div>
      </div>
   </div>
</div>
   
{% endblock %}